#URLBASE=http://192.168.200.1:5819
MODELNUMBER=B90-4272V10-07
MODELNAME=Broadcom Versalink
#PRESENTATIONURL=http://192.168.200.1/

IGD=UPNP_TR064
#IGD=DISABLED
IGD_DEVICEINFO=UPNP_TR064
IGD_DEVICECONFIG=TR064
IGD_DEVICECONFIG_PORTFWD=DISABLED
IGD_LANCONFIGSECURITY=TR064
IGD_TIME=TR064
IGD_USERINTERFACE=TR064
IGD_LAYER3FORWARDING=DISABLED
IGD_MANAGEMENTSERVER=DISABLED

IGD_WANDEVICE=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_PORTFWD=DISABLED
IGD_WANDEVICE_WANDSLINTERFACECONFIG=TR064
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG=DISABLED
IGD_WANDEVICE_WANDSLCONNECTIONMANAGEMENT=DISABLED
IGD_WANDEVICE_WANDSLDIAGNOSTICS=DISABLED

IGD_WANDEVICE_WANCONNECTIONDEVICE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_PORTFWD=DISABLED
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_PORTFWD=DISABLED
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANETHERNETLINKCONFIG=UPNP

IGD_LANDEVICE=TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT=TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG=TR064
IGD_LANDEVICE_WLANCONFIGURATION=TR064
IGD_LANDEVICE_HOSTS=TR064
IGD_LANDEVICE_LANUSBINTERFACECONFIG=DISABLED

##########################
# LANHostConfigManagement
##########################

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWDHCPSERVERCONFIGURABLE=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWDHCPRELAY=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWSUBNETMASK=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWDNSSERVERS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWDOMAINNAME=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWMINADDRESS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWMAXADDRESS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWIPROUTERS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWRESERVEDADDRESS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWDHCPLEASETIME=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWDHCPSERVERENABLE=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWUSEALLOCATEDWAN=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWASSOCIATEDCONNECTION=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWPASSTHROUGHLEASE=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWPASSTHROUGHMACADDRESS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETINFO_NEWALLOWEDMACADDRESS=TR064

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETSUBNETMASK=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETSUBNETMASK_NEWSUBNETMASK=UPNP_TR064

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETIPROUTERSLIST=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETIPROUTERSLIST_NEWIPROUTERSLIST=UPNP_TR064

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDOMAINNAME=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDOMAINNAME_NEWDOMAINNAME=UPNP_TR064

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETADDRESSRANGE=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETADDRESSRANGE_NEWMINADDRESS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETADDRESSRANGE_NEWMAXADDRESS=UPNP_TR064

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDNSSERVERS=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDNSSERVERS_NEWDNSSERVERS=UPNP_TR064

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDHCPSERVERCONFIGURABLE=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDHCPSERVERCONFIGURABLE_NEWDHCPSERVERCONFIGURABLE=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDHCPSERVERCONFIGURABLE=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDHCPSERVERCONFIGURABLE_NEWDHCPSERVERCONFIGURABLE=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSALLOCATION=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSALLOCATION_NEWUSEALLOCATEDWAN=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSALLOCATION_NEWASSOCIATEDCONNECTION=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSALLOCATION_NEWPASSTHROUGHLEASE=UPNP_TR064
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSALLOCATION_NEWPASSTHROUGHMACADDRESS=UPNP_TR064

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDHCPRELAY=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETDHCPRELAY_NEWDHCPRELAY=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDHCPRELAY=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDHCPRELAY_NEWDHCPRELAY=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETSUBNETMASK=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETSUBNETMASK_NEWSUBNETMASK=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETIPROUTER=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETIPROUTER_NEWIPROUTERS=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_DELETEIPROUTER=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_DELETEIPROUTER_NEWIPROUTERS=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDOMAINNAME=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDOMAINNAME_NEWDOMAINNAME=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSRANGE=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSRANGE_NEWMINADDRESS=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETADDRESSRANGE_NEWMAXADDRESS=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETRESERVEDADDRESS=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETRESERVEDADDRESS_NEWRESERVEDADDRESS=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_DELETERESERVEDADDRESS=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_DELETERESERVEDADDRESS_NEWRESERVEDADDRESS=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETRESERVEDADDRESS=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_GETRESERVEDADDRESS_NEWRESERVEDADDRESS=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDNSSERVER=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_SETDNSSERVER_NEWDNSSERVERS=UPNP

IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_DELETEDNSSERVER=UPNP
IGD_LANDEVICE_LANHOSTCONFIGMANAGEMENT_DELETEDNSSERVER_NEWDNSSERVERS=UPNP


############################
# LANEthernetInterfaceConfig
############################

IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETINFO=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETINFO_NEWENABLE=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETINFO_NEWSTATUS=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETINFO_NEWMACADDRESS=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETINFO_NEWMACADDRESSCONTROLENABLED=UPNP
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETINFO_NEWMAXBITRATE=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETINFO_NEWDUPLEXMODE=UPNP_TR064

IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETSTATISTICS=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWBYTESSENT=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWBYTESRECEIVED=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWPACKETSSENT=UPNP_TR064
IGD_LANDEVICE_LANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWPACKETSRECEIVED=UPNP_TR064

#######
# Hosts
#######

IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY_NEWMACADDRESS=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY_NEWADDRESSSOURCE=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY_NEWIPADDRESS=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY_NEWACTIVE=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY_NEWHOSTNAME=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY_NEWLEASETIMEREMAINING=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETSPECIFICHOSTENTRY_NEWINTERFACETYPE=UPNP_TR064

IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWINDEX=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWMACADDRESS=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWADDRESSSOURCE=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWIPADDRESS=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWACTIVE=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWHOSTNAME=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWLEASETIMEREMAINING=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETGENERICHOSTENTRY_NEWINTERFACETYPE=UPNP_TR064

IGD_LANDEVICE_HOSTS_GETHOSTNUMBEROFENTRIES=UPNP_TR064
IGD_LANDEVICE_HOSTS_GETHOSTNUMBEROFENTRIES_NEWHOSTNUMBEROFENTRIES=UPNP_TR064

############
# DeviceInfo
############

IGD_DEVICEINFO_GETINFO=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWMANUFACTURERNAME=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWMANUFACTUREROUI=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWMODELNAME=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWDESCRIPTION=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWPRODUCTCLASS=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWSERIALNUMBER=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWSOFTWAREVERSION=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWADDITIONALSOFTWAREVERSIONS=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWMODEMFIRMWAREVERSION=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWENABLEDOPTIONS=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWHARDWAREVERSION=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWADDITIONALHARDWAREVERSIONS=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWSPECVERSION=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWPROVISIONINGCODE=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWUPTIME=UPNP_TR064
IGD_DEVICEINFO_GETINFO_NEWFIRSTUSEDATE=UPNP_TR064

IGD_DEVICEINFO_GETDEVICELOG=UPNP_TR064
IGD_DEVICEINFO_GETDEVICELOG_NEWDEVICELOG=UPNP_TR064

##############
# DeviceConfig
##############

IGD_DEVICECONFIG_GETPERSISTENTDATA=UPNP_TR064
IGD_DEVICECONFIG_GETPERSISTENTDATA_NEWPERSISTENTDATA=UPNP_TR064

IGD_DEVICECONFIG_SETPERSISTENTDATA=UPNP_TR064
IGD_DEVICECONFIG_SETPERSISTENTDATA_NEWPERSISTENTDATA=UPNP_TR064

IGD_DEVICECONFIG_REBOOT=UPNP_TR064

IGD_DEVICECONFIG_FACTORYRESET=UPNP_TR064

###################
# LanConfigSecurity
###################

IGD_LANCONFIGSECURITY_SETCONFIGPASSWORD=UPNP_TR064
IGD_LANCONFIGSECURITY_SETCONFIGPASSWORD_NEWPASSWORD=UPNP_TR064

#######
# Time
#######

IGD_TIME_GETINFO=UPNP_TR064
IGD_TIME_GETINFO_NEWNTPSERVER1=UPNP_TR064
IGD_TIME_GETINFO_NEWNTPSERVER2=UPNP_TR064
IGD_TIME_GETINFO_NEWNTPSERVER3=UPNP_TR064
IGD_TIME_GETINFO_NEWNTPSERVER4=UPNP_TR064
IGD_TIME_GETINFO_NEWNTPSERVER5=UPNP_TR064
IGD_TIME_GETINFO_NEWCURRENTLOCALTIME=UPNP_TR064
IGD_TIME_GETINFO_NEWLOCALTIMEZONE=UPNP_TR064
IGD_TIME_GETINFO_NEWLOCALTIMEZONENAME=UPNP_TR064
IGD_TIME_GETINFO_NEWDAYLIGHTSAVINGSUSED=UPNP_TR064
IGD_TIME_GETINFO_NEWDAYLIGHTSAVINGSSTART=UPNP_TR064
IGD_TIME_GETINFO_NEWDAYLIGHTSAVINGSEND=UPNP_TR064

IGD_TIME_SETLOCALTIMEZONE=UPNP_TR064
IGD_TIME_SETLOCALTIMEZONE_NEWLOCALTIMEZONE=UPNP_TR064
IGD_TIME_SETLOCALTIMEZONE_NEWLOCALTIMEZONENAME=UPNP_TR064
IGD_TIME_SETLOCALTIMEZONE_NEWDAYLIGHTSAVINGSUSED=UPNP_TR064
IGD_TIME_SETLOCALTIMEZONE_NEWDAYLIGHTSAVINGSSTART=UPNP_TR064
IGD_TIME_SETLOCALTIMEZONE_NEWDAYLIGHTSAVINGSEND=UPNP_TR064

################
# UserInterface
################

IGD_USERINTERFACE_GETINTERFACEVARIABLES=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWISPNAME=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWISPHELPDESK=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWISPHOMEPAGE=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWISPHELPPAGE=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWISPMAILSERVER=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWISPNEWSSERVER=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWTEXTCOLOR=TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWBACKGROUNDCOLOR=TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWBUTTONCOLOR=TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWBUTTONTEXTCOLOR=TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWAUTOUPDATESERVER=TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWUSERUPDATESERVER=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWEXAMPLELOGIN=UPNP_TR064
IGD_USERINTERFACE_GETINTERFACEVARIABLES_NEWEXAMPLEPASSWORD=UPNP_TR064

IGD_USERINTERFACE_GETINFO=UPNP_TR064
IGD_USERINTERFACE_GETINFO_NEWACUENABLE=UPNP_TR064
IGD_USERINTERFACE_GETINFO_NEWACUFREQ=UPNP_TR064
IGD_USERINTERFACE_GETINFO_NEWACUDAY=UPNP_TR064
IGD_USERINTERFACE_GETINFO_NEWACUTOD=UPNP_TR064
IGD_USERINTERFACE_GETINFO_NEWACUFORCE=TR064

IGD_USERINTERFACE_SETACUENABLE=UPNP_TR064
IGD_USERINTERFACE_SETACUENABLE_NEWACUENABLE=UPNP_TR064

IGD_USERINTERFACE_SETACUFREQ=UPNP_TR064
IGD_USERINTERFACE_SETACUFREQ_NEWACUFREQ=UPNP_TR064

IGD_USERINTERFACE_SETACUDAY=UPNP_TR064
IGD_USERINTERFACE_SETACUDAY_NEWACUDAY=UPNP_TR064

IGD_USERINTERFACE_NEWACUENABLE_ACUENABLE=UPNP
IGD_USERINTERFACE_NEWACUENABLE_X_0060D3_ACUENABLE=TR064
IGD_USERINTERFACE_NEWACUFREQ_ACUFREQ=UPNP
IGD_USERINTERFACE_NEWACUFREQ_X_0060D3_ACUFREQ=TR064
IGD_USERINTERFACE_NEWACUDAY_ACUDAY=UPNP
IGD_USERINTERFACE_NEWACUDAY_X_0060D3_ACUDAY=TR064
IGD_USERINTERFACE_NEWACUTOD_ACUTOD=UPNP
IGD_USERINTERFACE_NEWACUTOD_X_0060D3_ACUTOD=TR064


###################
# WLanConfiguration
###################

IGD_LANDEVICE_WLANCONFIGURATION_GETINFO=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWSTATUS=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWCHANNEL=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWSSID=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWBEACONTYPE=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWMACADDRESSCONTROLENABLED=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWSTANDARD=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWBSSID=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWBASICENCRYPTIONMODES=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETINFO_NEWBASICAUTHENTICATIONMODE=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_GETSSID=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETSSID_NEWSSID=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_SETSSID=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETSSID_NEWSSID=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_GETBEACONTYPE=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETBEACONTYPE_NEWBEACONTYPE=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_SETBEACONTYPE=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETBEACONTYPE_NEWBEACONTYPE=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_SETBASBEACONSECURITYPROPERTIES=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETBASBEACONSECURITYPROPERTIES_NEWBASICENCRYPTIONMODES=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETBASBEACONSECURITYPROPERTIES_NEWBASICAUTHENTICATIONMODE=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_SETWPABEACONSECURITYPROPERTIES=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETWPABEACONSECURITYPROPERTIES_NEWWPAENCRYPTIONMODES=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETWPABEACONSECURITYPROPERTIES_NEWWPAAUTHENTICATIONMODE=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_GETWPABEACONSECURITYPROPERTIES=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETWPABEACONSECURITYPROPERTIES_NEWWPAENCRYPTIONMODES=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETWPABEACONSECURITYPROPERTIES_NEWWPAAUTHENTICATIONMODE=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_GETRADIOMODE=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_GETRADIOMODE_NEWRADIOENABLED=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_SETRADIOMODE=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETRADIOMODE_NEWRADIOENABLED=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_SETSECURITYKEYS=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETSECURITYKEYS_NEWWEPKEY0=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETSECURITYKEYS_NEWWEPKEY1=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETSECURITYKEYS_NEWWEPKEY2=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETSECURITYKEYS_NEWWEPKEY3=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETSECURITYKEYS_NEWPRESHAREDKEY=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_GETSECURITYKEYS=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETSECURITYKEYS_NEWWEPKEY0=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETSECURITYKEYS_NEWWEPKEY1=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETSECURITYKEYS_NEWWEPKEY2=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETSECURITYKEYS_NEWWEPKEY3=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETSECURITYKEYS_NEWPRESHAREDKEY=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_GETTOTALASSOCIATIONS=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETTOTALASSOCIATIONS_NEWTOTALASSOCIATIONS=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_SETBEACONADVERTISEMENT=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETBEACONADVERTISEMENT_NEWBEACONADVERTISEMENTENABLED=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_SETBEACONADVERTISEMENT=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETBEACONADVERTISEMENT_NEWBEACONADVERTISEMENTENABLED=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_GETBEACONADVERTISEMENT=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETBEACONADVERTISEMENT_NEWBEACONADVERTISEMENTENABLED=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_SETPRESHAREDKEY=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETPRESHAREDKEY_NEWKEYPASSPHRASE=UPNP_TR064
IGD_LANDEVICE_WLANCONFIGURATION_SETPRESHAREDKEY_NEWPRESHAREDKEY=UPNP_TR064

IGD_LANDEVICE_WLANCONFIGURATION_GETDEFAULTWEPKEYINDEX=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETDEFAULTWEPKEYINDEX_NEWDEFAULTWEPKEYINDEX=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_SETDEFAULTWEPKEYINDEX=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_sETDEFAULTWEPKEYINDEX_NEWDEFAULTWEPKEYINDEX=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_SETENABLE=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETENABLE_NEWENABLE=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG_NEWMAXBITRATE=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG_NEWCHANNEL=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG_NEWSSID=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG_NEWBEACONTYPE=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG_NEWMACADDRESSCONTROLENABLED=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG_NEWBASICENCRYPTIONMODES=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_SETCONFIG_NEWBASICAUTHENTICATIONMODE=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_GETBASBEACONSECURITYPROPERTIES=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETBASBEACONSECURITYPROPERTIES_NEWBASICENCRYPTIONMODES=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETBASBEACONSECURITYPROPERTIES_NEWBASICAUTHENTICATIONMODE=UPNP

IGD_LANDEVICE_WLANCONFIGURATION_GETGENERICASSOCIATEDDEVICEINFO=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETGENERICASSOCIATEDDEVICEINFO_NEWASSOCIATEDDEVICEINDEX=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETGENERICASSOCIATEDDEVICEINFO_NEWASSOCIATEDDEVICEMACADDRESS=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETGENERICASSOCIATEDDEVICEINFO_NEWASSOCIATEDDEVICEIPADDRESS=UPNP
IGD_LANDEVICE_WLANCONFIGURATION_GETGENERICASSOCIATEDDEVICEINFO_NEWASSOCIATEDDEVICEAUTHSTATE=UPNP

##################
# WANPPPConnection
##################

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETENABLE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETENABLE_NEWENABLE=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWENABLE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWCONNECTIONTYPE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPOSSIBLECONNECTIONTYPES=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWCONNECTIONSTATUS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWNAME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWUPTIME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWUPSTREAMMAXBITRATE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWDOWNSTREAMMAXBITRATE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWLASTCONNECTIONERROR=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWAUTODISCONNECTTIME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWIDLEDISCONNECTTIME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWWARNDISCONNECTDELAY=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWCONNECTIONTRIGGER=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWRSIPAVAILABLE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWNATENABLED=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWUSERNAME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPPPENCRYPTIONPROTOCOL=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPPPCOMPRESSIONPROTOCOL=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPPPAUTHENTICATIONPROTOCOL=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWEXTERNALIPADDRESS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWREMOTEIPADDRESS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWMACADDRESS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWMACADDRESSOVERRIDE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWMAXMRUSIZE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWCURRENTMRUSIZE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWDNSENABLED=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWDNSOVERRIDEALLOWED=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWDNSSERVERS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWTRANSPORTTYPE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPPPOEACNAME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPPPOESERVICENAME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWROUTEPROTOCOLRX=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPPPLCPECHO=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWPPPLCPECHORETRY=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETINFO_NEWMAXMTUSIZE=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETCONNECTIONTYPE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETCONNECTIONTYPE_NEWCONNECTIONTYPE=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETCONNECTIONTYPEINFO=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETCONNECTIONTYPEINFO_NEWCONNECTIONTYPE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETCONNECTIONTYPEINFO_NEWPOSSIBLECONNECTIONTYPES=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_REQUESTCONNECTION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_FORCETERMINATION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_REQUESTTERMINATION=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETAUTODISCONNECTTIME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETAUTODISCONNECTTIME_NEWAUTODISCONNECTTIME=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETIDLEDISCONNECTTIME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETIDLEDISCONNECTTIME_NEWIDLEDISCONNECTTIME=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETWARNDISCONNECTDELAY=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETWARNDISCONNECTDELAY_NEWWARNDISCONNECTDELAY=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPPPENCRYPTIONPROTOCOL=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPPPENCRYPTIONPROTOCOL_NEWPPPENCRYPTIONPROTOCOL=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPPPCOMPRESSIONPROTOCOL=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPPPCOMPRESSIONPROTOCOL_NEWPPPCOMPRESSIONPROTOCOL=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPPPAUTHENTICATIONPROTOCOL=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPPPAUTHENTICATIONPROTOCOL_NEWPPPAUTHENTICATIONPROTOCOL=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETUSERNAME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETUSERNAME_NEWUSERNAME=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETUSERNAME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETUSERNAME_NEWUSERNAME=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETPASSWORD=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETPASSWORD_NEWPASSWORD=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETAUTODISCONNECTTIME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETAUTODISCONNECTTIME_NEWAUTODISCONNECTTIME=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETIDLEDISCONNECTTIME=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETIDLEDISCONNECTTIME_NEWIDLEDISCONNECTTIME=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETWARNDISCONNECTDELAY=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETWARNDISCONNECTDELAY_NEWWARNDISCONNECTDELAY=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETCONNECTIONTRIGGER=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETCONNECTIONTRIGGER_NEWCONNECTIONTRIGGER=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPORTMAPPINGNUMBEROFENTRIES=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETPORTMAPPINGNUMBEROFENTRIES_NEWPORTMAPPINGNUMBEROFENTRIES=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETMACADDRESS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETMACADDRESS_NEWMACADDRESS=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETMAXMRUSIZE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETMAXMRUSIZE_NEWMAXMRUSIZE=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETROUTEPROTOCOLRX=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETROUTEPROTOCOLRX_NEWROUTEPROTOCOLRX=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETMAXMTUSIZE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_SETMAXMTUSIZE_NEWMAXMTUSIZE=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETSTATUSINFO=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETSTATUSINFO_NEWCONNECTIONSTATUS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETSTATUSINFO_NEWLASTCONNECTIONERROR=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETSTATUSINFO_NEWUPTIME=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETLINKLAYERMAXBITRATES=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETLINKLAYERMAXBITRATES_NEWUPSTREAMMAXBITRATE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANPPPCONNECTION_GETLINKLAYERMAXBITRATES_NEWDOWNSTREAMMAXBITRATE=UPNP_TR064

##################
# WANIPConnection
##################

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_REQUESTCONNECTION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_FORCETERMINATION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_SETCONNECTIONTYPE=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_SETCONNECTIONTYPE_NEWCONNECTIONTYPE=UPNP

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWENABLE=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWCONNECTIONTYPE=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWMAXMTUSIZE=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWEXTERNALIPADDRESS=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWSUBNETMASK=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWDEFAULTGATEWAY=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWCONNECTIONSTATUS=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWUPTIME=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETINFO_NEWLASTCONNECTIONERROR=UPNP

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSTATUSINFO=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSTATUSINFO_NEWCONNECTIONSTATUS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSTATUSINFO_NEWLASTCONNECTIONERROR=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSTATUSINFO_NEWUPTIME=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETEXTERNALIPADDRESS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETEXTERNALIPADDRESS_NEWEXTERNALIPADDRESS=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWPORTMAPPINGINDEX=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWREMOTEHOST=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWEXTERNALPORT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWPROTOCOL=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWINTERNALPORT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWINTERNALCLIENT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWENABLED=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWPORTMAPPINGDESCRIPTION=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETGENERICPORTMAPPINGENTRY_NEWLEASEDURATION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWREMOTEHOST=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWEXTERNALPORT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWPROTOCOL=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWINTERNALPORT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWINTERNALCLIENT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWENABLED=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWPORTMAPPINGDESCRIPTION=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETSPECIFICPORTMAPPINGENTRY_NEWLEASEDURATION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWREMOTEHOST=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWEXTERNALPORT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWPROTOCOL=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWINTERNALPORT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWINTERNALCLIENT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWENABLED=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWPORTMAPPINGDESCRIPTION=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_ADDPORTMAPPING_NEWLEASEDURATION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_DELETEPORTMAPPING=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_DELETEPORTMAPPING_NEWREMOTEHOST=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_DELETEPORTMAPPING_NEWEXTERNALPORT=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_DELETEPORTMAPPING_NEWPROTOCOL=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETCONNECTIONTYPEINFO=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETCONNECTIONTYPEINFO_NEWCONNECTIONTYPE=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETCONNECTIONTYPEINFO_NEWPOSSIBLECONNECTIONTYPES=UPNP

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETNATRSIPSTATUS=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETNATRSIPSTATUS_NEWRSIPAVAILABLE=UPNP
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANIPCONNECTION_GETNATRSIPSTATUS_NEWNATENABLED=UPNP


############################
# WANEthernetInterfaceConfig
############################

IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETINFO=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETINFO_NEWENABLED=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETINFO_NEWSTATUS=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETINFO_NEWMACADDRESS=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETINFO_NEWMACADDRESSCONTROLENABLED=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETINFO_NEWMAXBITRATE=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETINFO_NEWDUPLEXMODE=UPNP

IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETSTATISTICS=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWBYTESSENT=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWBYTESRECEIVED=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWPACKETSSENT=UPNP
IGD_WANDEVICE_WANETHERNETINTERFACECONFIG_GETSTATISTICS_NEWPACKETSRECEIVED=UPNP

##################
# WANDSLLinkConfig
##################

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETENABLE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETENABLE_NEWENABLE=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWENABLE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWLINKTYPE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWLINKSTATUS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWAUTOCONFIG=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWMODULATIONTYPE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWDESTINATIONADDRESS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWATMENCAPSULATION=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWFCSPRESERVED=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWVCSEARCHLIST=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWATMAAL=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWATMQOS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWATMPEAKCELLRATE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWATMMAXIMUMBURSTSIZE=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETINFO_NEWATMSUSTAINABLECELLRATE=TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETDSLLINKTYPE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETDSLLINKTYPE_NEWLINKTYPE=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETDSLLINKINFO=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETDSLLINKINFO_NEWLINKTYPE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETDSLLINKINFO_NEWLINKSTATUS=UPNP

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETAUTOCONFIG=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETAUTOCONFIG_NEWAUTOCONFIG=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETMODULATIONTYPE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETMODULATIONTYPE_NEWMODULATIONTYPE=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETDESTINATIONADDRESS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETDESTINATIONADDRESS_NEWDESTINATIONADDRESS=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETDESTINATIONADDRESS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETDESTINATIONADDRESS_NEWDESTINATIONADDRESS=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETATMENCAPSULATION=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETATMENCAPSULATION_NEWATMENCAPSULATION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETATMENCAPSULATION=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETATMENCAPSULATION_NEWATMENCAPSULATION=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETFCSPRESERVED=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETFCSPRESERVED_NEWFCSPRESERVED=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETFCSPRESERVED=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETFCSPRESERVED_NEWFCSPRESERVED=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETVCSEARCHLIST=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETVCSEARCHLIST_NEWVCSEARCHLIST=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETATMQOS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETATMQOS_NEWATMQOS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETATMQOS_NEWATMPEAKCELLRATE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETATMQOS_NEWATMSUSTAINABLECELLRATE=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_SETATMQOS_NEWATMMAXIMUMBURSTRATE=UPNP_TR064

IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETSTATISTICS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETSTATISTICS_NEWATMTRANSMITTEDBLOCKS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETSTATISTICS_NEWATMRECEIVEDBLOCKS=UPNP_TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETSTATISTICS_NEWAAL5CRCERRORS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETSTATISTICS_NEWATMCRCERRORS=TR064
IGD_WANDEVICE_WANCONNECTIONDEVICE_WANDSLLINKCONFIG_GETSTATISTICS_NEWATMHECERRORS=TR064

#######################
# WANDSLInterfaceConfig
#######################

IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWENABLE=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWSTATUS=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWMODULATIONTYPE=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWLINEENCODING=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWLINENUMBER=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWUPSTREAMCURRRATE=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWDOWNSTREAMCURRRATE=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWUPSTREAMMAXRATE=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWDOWNSTREAMMAXRATE=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWUPSTREAMNOISEMARGIN=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWDOWNSTREAMNOISEMARGIN=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWUPSTREAMATTENUATION=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWDOWNSTREAMATTENUATION=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWUPSTREAMPOWER=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWDOWNSTREAMPOWER=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWDATAPATH=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWINTERLEAVEDDEPTH=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATURVENDOR=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATURCOUNTRY=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATURANSISTD=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATURANSIREV=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATUCVENDOR=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATUCCOUNTRY=UPNP_TR064
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATUCANSISTD=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWATUCANSIREV=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWTOTALSTART=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWSHOWTIMESTART=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWLASTSHOWTIMESTART=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWCURRENTDAYSTART=UPNP
IGD_WANDEVICE_WANDSLINTERFACECONFIG_GETINFO_NEWQUARTERHOURSTART=UPNP

#######################
# WANCommonInterfaceConfig
#######################

IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_GETCOMMONLINKPROPERTIES=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_GETCOMMONLINKPROPERTIES_NEWWANACCESSTYPE=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_GETCOMMONLINKPROPERTIES_NEWLAYER1UPSTREAMMAXBITRATE=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_GETCOMMONLINKPROPERTIES_NEWLAYER1DOWNSTREAMMAXBITRATE=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_GETCOMMONLINKPROPERTIES_NEWPHYSICALLINKSTATUS=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_GETWANACCESSPROVIDER=UPNP_TR064
IGD_WANDEVICE_WANCOMMONINTERFACECONFIG_GETWANACCESSPROVIDER_NEWWANACCESSPROVIDER=UPNP_TR064
